<!---Single Post --->

  <div class="columns is-centered mt-6">
  <div class="column is-6">
  <section id="singleHero"class="hero">
  <div class="hero-body">
    <p data-id={{post.id}} id="postTitle"class="title has-text-centered">
      {{post.title}}
    </p>
    <p id="postSub"class="subtitle has-text-centered">
       <small>by {{post.user.username}}</small> <small>{{post.createdAt}}</small>
    </p>
  </div>
</section>
<div class="box mt-4">
  <p> {{post.body}}</p>
</div>
</div>

{{!-- where the comments start --}}
<div class="column is-5">
  <div class="column comments">
    <a id="commentIcon" href="#">
    <i class="fa-solid fa-comments" aria-hidden="true"></i>
    Leave your Comment
     </a>
</div>
<div id="opinionBox" class="box invisible ">
   <button id="hideBox"class="delete is-medium"></button>
  <article class="media">
    <div class="media-content">
      <div class="content is-flex-direction-column">
     <textarea class="textarea"  id="commentBody" placeholder="Leave a Comment" rows="2"></textarea>
    <button id="opinionBtn" class="button "><strong>Comment</strong></button>
    </div>
    <hr>
      {{#if post.comments}}
     {{#each post.comments}}
     <div id="theComment"class="box">
       <div class="content">
          <p><strong>{{user.username}}</strong></p>
       </div>
      <div class="content">
          <p>
          {{body}}
       </p> 
      </div>
      </div>
      {{/each}}
      {{/if}}
      </div>
  </article>
</div>
</div>
</div>


<script src="/js/comment.js"></script>






