<!---Single Post --->

  <div class="columns is-centered mt-6">
  <div class="column is-6">
  <section class="hero is-primary">
  <div class="hero-body">
    <p data-id={{post.id}} id="postTitle"class="title has-text-centered">
      {{post.title}}
    </p>
    <p class="subtitle has-text-centered">
       <small>by {{post.user.username}}</small> <small>{{post.createdAt}}</small>
    </p>
  </div>
</section>
<section class="section">
  <h2 class="subtitle">
   {{post.body}}
  </h2>
  <nav class="level is-mobile ">
        <div class="level-right">
          <a class="level-item has-text-centered" aria-label="reply">
            <span class="icon is-small">
              <a id="commentIcon" href="#">
              <i class="fa-solid fa-comments" aria-hidden="true"></i>
              </a>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
</section>

</div>

{{!-- where the comments start --}}
<div class="column is-5">
<div id="opinionBox" class="box invisible ">
   <button id="hideBox"class="delete is-medium"></button>
  <article class="media">
    <div class="media-content">
      <div class="content is-flex-direction-column">
     <textarea class="textarea"  id="commentBody" placeholder="Leave a Comment" rows="2"></textarea>
    <button id="opinionBtn" class="button "><strong>Comment</strong></button>
    </div>
    <hr>
      {{#if post.comments}}
     {{#each post.comments}}
     <div id="theComment"class="box">
       <div class="content">
          <p><strong>{{user.username}}</strong></p>
       </div>
      <div class="content">
          <p>
          {{body}}
       </p> 
      </div>
      </div>
      {{/each}}
      {{/if}}
      </div>
  </article>
</div>
</div>
</div>

<script src="/js/comment.js"></script>






{{!-- <article class="message">
  <div class="message-header">
    <p>{{post.title}}</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
      {{post.body}}
  </div> 
</article> --}}